<template>
  <v-container fluid>
    <v-row dense>
      <v-col v-if="!valid_session" cols=12>
        <database-load-error :db_hash="session_hash" />
      </v-col>

      <v-col v-else-if="nav == null" cols=12>
        <notification-card
          title="No Navigator Found"
          text="The navigator file is required because it shows which atlas/maps
          are being used. If the navigator data will load automatically as soon
          as it's processed."
        ></notification-card>
      </v-col>

      <v-col v-else-if="atlas == null || image_url == null" cols=12>
        <notification-card
          title="No Atlas Found"
          text="The atlas map will automatically load as soon as it has been processed."
        ></notification-card>
      </v-col>

      <v-col v-else cols=12>
        <v-card tile v-if="image_url != null">
          <v-card-title>Atlas</v-card-title>
          <paintable-Image :image_url="image_url" :map_width="map_width" :map_height="map_height">
            <path v-for="square in square_information" 
            :d="square.path" 
            class="square" 
            :key="square.name"
            :class="{active:square.active}"
            @click="$router.push({name: 'square', params: { name: square.name}})"
            pointer-events="all"
            />
          </paintable-Image>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import DatabaseLoadError from "@/components/DatabaseLoadError.vue";
import NotificationCard from "@/components/NotificationCard.vue";
import PaintableImage from "@/components/PaintableImage.vue";
import { store } from "@/store.js";

// This functions transforms stage coordinates into map coordinates using the scale matrix from the Navigator file
function calc_image_coordinates(stage_coord, scale_coeff, stage_center, image_center) {
			var X = scale_coeff[0] * (stage_coord[0] - stage_center[0]) + scale_coeff[1] * (stage_coord[1] - stage_center[1]) + image_center[0];
			var Y = scale_coeff[2] * (stage_coord[0] - stage_center[0]) + scale_coeff[3] * (stage_coord[1] - stage_center[1]) + image_center[1];
			return [X, Y];
}

function path_from_corners(x) {
       return 'M ' + x[0][0] + ' ' + x[0][1] + ' L ' + x[1][0] + ' ' + x[1][1] + ' L ' + x[2][0] + ' ' + x[2][1] + ' L ' + x[3][0] + ' ' + x[3][1] +' z';
}

export default {
  components: {
    DatabaseLoadError,
    NotificationCard,
    PaintableImage
  },
  data: function() {
    return {
      file_server_url: `${store.state.host}/files/`
    };
  },
  computed: {
    squares() {
      return this.nav.squares;
    },
    
    square_information() {
      var that = this;
      if (!this.squares) {
        return [];
      }
      return this.squares.map(
        function(square) {
          var corners = store.state.data.map[square].corners.map(
            point => calc_image_coordinates(point,that.atlas.scale_matrix,that.atlas.position,[that.map_width/2,that.map_height/2])
          );
          return { path: path_from_corners(corners), 
            name: square, 
            active: store.state.squares.route && square === store.state.squares.route.params.name
          }
        }
      )
    },
    nav() {
      return store.state.navigator;
    },
    valid_session() {
      return store.state.session.valid;
    },
    session_hash() {
      return store.state.session.hash;
    },
    atlas() {
      return store.state.data.map[this.nav.atlas];
    },
    image_url() {
      if (this.atlas.preview == null) return null;
      var path_array = this.atlas.preview.split("/");
      var image_path = path_array.slice(-2).join("/");
      return this.file_server_url + image_path;
    },
    map_width() {
    if (this.atlas.dimensions == null) return null;
    return this.atlas.dimensions[0];
    },
    map_height() {
    if (this.atlas.dimensions == null) return null;
    return this.atlas.dimensions[1];
    }
  }
};
</script>

<style scoped>
path.square {
  stroke-width: 0.1%;
  stroke: yellow;
  fill: none;
}
path.square:hover {
  stroke-width: 0.3%;
}
path.square.active {
  stroke: red;
}
</style>
