<template>
  <v-container fluid>
    <v-row dense>
      <v-col cols="12">
        <v-card tile>
          <v-card-title>No data has been loaded yet!</v-card-title>
          <v-card-text>
            <p>
              Your Hotspur administrator should give you a url to load your session or project.
              The url will follow the pattern <code>/web-view/session/{ID}/</code> or
              <code>/web-view/project/{ID}/</code>, where {ID} is a
              long series of random letters and numbers that uniquely identify your dataset.
              If you need to get the url yourself, then you can use the <code>hotspur info</code>
              command line tool on the machine running hotspur.
            </p>
            <slot></slot>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {};
</script>
