<template>
	<v-card>
		<v-card-title>Welcome to Hotspur</v-card-title>
		<v-card-text>
			<p>
				To visit a session, please go to your project overview at
				"/web-view/projects/{project ID}" and find your session.
				To obtain your project ID, ask your hotspur administrator
				to look at their admin page for an overview of projects.
			</p>
		</v-card-text>
	</v-card>
</template>

<script>
export default {};
</script>