<template>
  <v-container fluid>
    <v-row v-if="!valid_session" dense>
      <v-col>
        <database-load-error :db_hash="session_hash" />
      </v-col>
    </v-row>

    <template v-else>
      <v-row dense>
        <v-col>
          <micrograph-navigator :index="micrograph_index"></micrograph-navigator>
        </v-col>
      </v-row>

      <v-row dense v-if="micrograph_name == null">
        <v-col>
          <notification-card
            title="This Micrograph Has Not Yet Loaded"
            text="Micrograph data will automatically load when ready. Note that the requested micrograph may not exist."
          ></notification-card>
        </v-col>
      </v-row>

      <v-row v-else dense class="px-1">
        <div class="grid-container py-2">
          <div :class="grid_classes.left">
            <micrograph-export :micrograph_name="micrograph_name" :class="grid_classes.export" />
            <micrograph-information :class="grid_classes.info" :micrograph_name="micrograph_name" />
            <motion-plot :class="grid_classes.plot" :motionData="motion_data" />
          </div>

          <div :class="grid_classes.center">
            <micrograph-view
              :class="grid_classes.micrograph"
              :motion_data="motion_data"
              :file_server_url="file_server_url"
            />
          </div>

          <div :class="grid_classes.right">
            <ctf-viewer
              :class="grid_classes.ctf"
              :ctf_data="ctf_data"
              :file_server_url="file_server_url"
            />
            <ctf-plot :class="grid_classes.curve" :ctf_data="ctf_data" />
            <micrograph-dogpicker-controller
              :class="grid_classes.dogpicker"
              :micrograph_name="micrograph_name"
              :file_server_url="file_server_url"
            />
          </div>
        </div>
      </v-row>
    </template>
  </v-container>
</template>

<script>
import DatabaseLoadError from "@/components/DatabaseLoadError.vue";
import NotificationCard from "@/components/NotificationCard.vue";
import MicrographNavigator from "@/components/MicrographNavigator.vue";
import MicrographExport from "@/components/MicrographExport.vue";
import MicrographInformation from "@/components/MicrographInformation.vue";
import MicrographView from "@/components/MicrographView.vue";
import MotionPlot from "@/components/MotionPlot.vue";
import CtfPlot from "@/components/CtfPlot.vue";
import CtfViewer from "@/components/CtfViewer.vue";
import MicrographDogpickerController from "@/components/MicrographDogpickerController.vue";
import { store } from "@/store.js";

export default {
  components: {
    DatabaseLoadError,
    NotificationCard,
    MicrographNavigator,
    MicrographExport,
    MicrographInformation,
    MicrographView,
    MotionPlot,
    CtfPlot,
    CtfViewer,
    MicrographDogpickerController
  },

  data: function() {
    return {
      file_server_url: `${store.state.host}/files/`
    };
  },
  beforeRouteUpdate(to, from, next) {
    store.cache_micrograph_route(to);
    store.cache_square_route({
      name: "squareMicrograph",
      params: { hash: to.params.hash }
    });
    next();
  },
  beforeRouteEnter(to, from, next) {
    store.cache_micrograph_route(to);
    store.cache_square_route({
      name: "squareMicrograph",
      params: { hash: to.params.hash }
    });
    next();
  },
  computed: {
    valid_session() {
      return store.state.session.valid;
    },
    session_hash() {
      return store.state.session.hash;
    },
    micrograph_index() {
      var index = store.state.micrographs.sorted_names.findIndex(
        n => n === this.micrograph_name
      );
      return index === -1 ? null : index;
    },
    micrograph_name() {
      if (this.$route.name == "micrographLatest" )
        return store.state.micrographs.latest;
      else if (this.$route.name == "micrograph")
        return this.$route.params.name;
      else 
        return store.state.micrographs.latest;
    },
    acquisition_data() {
      return store.state.data.acquisition[this.micrograph_name];
    },
    motion_data() {
      return store.state.data.motion[this.micrograph_name];
    },
    ctf_data() {
      return store.state.data.ctf[this.micrograph_name];
    },
    user_data() {
      return store.state.data.user[this.micrograph_name];
    },
    grid_classes() {
      var suffix = "";
      if (this.$vuetify.breakpoint.lgAndUp) suffix = "lg";
      else if (this.$vuetify.breakpoint.md) suffix = "md";
      else if (this.$vuetify.breakpoint.smAndDown) suffix = "sm";
      return {
        left: `grid-left-${suffix}`,
        center: `grid-center-${suffix}`,
        right: `grid-right-${suffix}`,
      };
    }
  }
};
</script>

<style scoped>
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, auto) 1fr;
  grid-gap: 8px;
}

.grid-left-lg {
  grid-column: 1 / 3;
  grid-row: 1 / 13;
}
.grid-center-lg {
  grid-column: 3 / 10;
  grid-row: 1 / 13;
}
.grid-right-lg {
  grid-column: 10/ 13;
  grid-row: 1/ 13;
}

.grid-left-md {
  grid-column: 1 / 7;
  grid-row: 7 / 13;
}
.grid-center-md {
  grid-column: 1 / 13;
  grid-row: 1 / 7;
}
.grid-right-md {
  grid-column: 7/ 13;
  grid-row: 7/ 13;
}

.grid-left-sm {
  grid-column: 1 / 13;
  grid-row: 5 / 9;
}
.grid-center-sm {
  grid-column: 1 / 13;
  grid-row: 1 / 5;
}
.grid-right-sm {
  grid-column: 1/ 13;
  grid-row: 9/ 13;
}
</style>