<template>
  <div id="app">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">Low magnification montage</div>
          <div class="chart-stage">
            <div id="big_micro_wrapper">
              <img id="lmm_micro">
              <canvas id="lmm_canvas"></canvas>
            </div>
          </div>
          <div class="chart-notes">This image is downsampled for file size</div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">Medium magnification montage</div>
          <div class="chart-stage">
            <div id="big_micro_wrapper">
              <img id="mmm_micro">
              <svg id="mmm_svg"></svg>
            </div>
          </div>
          <div class="chart-notes">This image is downsampled for file size</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  data: function() {
    return {
      montage: ""
    };
  }
};
</script>
