<template>
  <notification-card v-if="!valid" :title="error.title" :text="error.text" />
  <v-container fluid v-else>
    <v-row dense>
      <v-col>
        <v-card tile>
          <v-data-table
            id="session-table"
            :headers="headers"
            :items="sessions"
            disable-filtering
            disable-pagination
            hide-default-footer
            class="elevation-1"
          >
            <template v-slot:item.sample="props">
              <a href="#" @click="goToSession(props.item)">{{ props.value }}</a>
            </template>
            <template v-slot:item.notes="props">
              <v-edit-dialog :return-value.sync="props.item.notes" @save="save_note(props.item)">
                {{ props.item.notes }}
                <template v-slot:input>
                  <v-text-field label="Edit" single-line counter></v-text-field>
                </template>
              </v-edit-dialog>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import NotificationCard from "@/components/NotificationCard.vue";
import { store } from "../store.js";
import pouchDB from "pouchdb";

export default {
  components: {
    NotificationCard: NotificationCard
  },
  data() {
    return {
      headers: [
        { text: "Sample Name", value: "sample" },
        { text: "Session Name", value: "name" },
        { text: "Micrographs", value: "num_micrographs" },
        { text: "Maps", value: "num_maps" },
        { text: "Notes", value: "notes" },
        { text: "Session Hash", value: "hash" }
      ],
      error: {
        title: "Project Error",
        text: "Failed to load project"
      }
    };
  },
  computed: {
    valid() {
      return store.state.project.valid;
    },
    sessions() {
      return Object.values(store.state.project.sessions);
    }
  },
  methods: {
    goToSession: function(row) {
      this.$router.push({
        name: "statistics",
        params: {
          hash: row.hash
        }
      });
    },
    save_note(item) {
      var remote_db_url = `${store.state.host}/couchdb/${item.hash}/`;
      // skip_setup prevents pouchdb from making database if it doesn't exist
      var remote_db = new pouchDB(remote_db_url, { skip_setup: true });
      remote_db
        .get("user_session_data")
        .then(doc => {
          doc.session_notes = item.notes;
          return remote_db.put(doc);
        })
        .then(function(response) {})
        .catch(function(err) {
          console.log(err);
        });
    },
    update_session_data() {
      this.sessions.forEach(session => {
        var remote_db_url = `${store.state.host}/couchdb/${session.hash}/`;
        // skip_setup prevents pouchdb from making database if it doesn't exist
        var remote_db = new pouchDB(remote_db_url, { skip_setup: true });
        remote_db
          .query("hotspur/acquisition_data")
          .then(res => {
            this.$set(session, "num_micrographs", res.total_rows);
          })
          .catch(function(err) {
            console.log(err);
          });
        remote_db
          .query("hotspur/montage_data")
          .then(res => {
            this.$set(session, "num_maps", res.total_rows);
          })
          .catch(function(err) {
            console.log(err);
          });
        remote_db.get("user_session_data").then(doc => {
          if (doc.session_notes) {
            this.$set(session, "notes", doc.session_notes);
          } else {
            this.$set(session, "notes", "Add Note");
          }
        });
      });
    }
  },
  watch: {
    remote_db: {
      immediate: true,
      handler() {
        this.update_session_data();
      }
    }
  },

  beforeRouteUpdate(to, from, next) {
    store.load_project(to.params.hash, next);
  }
};
</script>

<style scoped>
#session-table >>> td:not(:nth-last-child(2)){
    white-space: nowrap;
}
#session-table >>> th:not(:nth-last-child(2)){
    white-space: nowrap;
}

#session-table >>> td:nth-last-child(2){
    width: 100%;
}

a{
  color: white !important;;
}
</style>