<template>
  <v-container fluid>
    <v-row dense>
      <!-- Error handling -->
      <v-col v-if="!valid_session" cols=12>
        <database-load-error :db_hash="session_hash"></database-load-error>
      </v-col>

      <template v-else>
        <v-col v-if="names_loaded" cols=12>
          <square-navigator :index="square_index" ></square-navigator>
        </v-col>

        <v-col v-if="nav == null" cols=12>
          <notification-card
            title="No Navigator Found"
            text="The navigator file is required because it shows which atlas/maps
          are being used. If the navigator data will load automatically as soon
          as it's processed."
          ></notification-card>
        </v-col>

        <v-col v-else-if="square_name == null" cols=12>
          <notification-card
            title="This Square Has Not Yet Loaded"
            text="Map data will automatically load when ready. Note that the requested map may not exist."
          ></notification-card>
        </v-col>

        <v-col v-else-if="square == null || image_url == null" cols=12>
          <notification-card
            title="No Maps Of Squares Found"
            text="If square maps have not yet been processed,
          they will automatically load when they're ready."
          ></notification-card>
        </v-col>

        <v-col v-else cols=12>
          <v-card tile>
            <paintable-Image :image_url="image_url" :map_width="map_width" :map_height="map_height">
              <path v-for="micrograph in micrograph_information" 
              :d="micrograph.path" class="micrograph" 
              :key="micrograph.name"
              :class="{active:micrograph.active, rejected: micrograph.rejected}"
              @click="$router.push({name: 'micrograph', params: { name: micrograph.name}})"
              pointer-events="all"
              />
          </paintable-Image>
          </v-card>
        </v-col>
      </template>
    </v-row>
  </v-container>
</template>

<script>
import DatabaseLoadError from "@/components/DatabaseLoadError.vue";
import NotificationCard from "@/components/NotificationCard.vue";
import SquareNavigator from "@/components/SquareNavigator.vue";
import PaintableImage from "@/components/PaintableImage.vue";
import { store } from "@/store.js";

// This functions transforms stage coordinates into map coordinates using the scale matrix from the Navigator file
function calc_image_coordinates(stage_coord, scale_coeff, stage_center, image_center) {
	var X = scale_coeff[0] * (stage_coord[0] - stage_center[0]) + scale_coeff[1] * (stage_coord[1] - stage_center[1]) + image_center[0];
	var Y = scale_coeff[2] * (stage_coord[0] - stage_center[0]) + scale_coeff[3] * (stage_coord[1] - stage_center[1]) + image_center[1];
	return [X, Y];
}

// Given a points [x,y] and a rectangle [[x1,y1],...] determine if point is in this rectangle. Dirty approximation is good enough
function is_within_rectangle(position, rectangle) {
  if (position[0] < Math.min(...rectangle.map(p => p[0]))) return false;
  if (position[0] > Math.max(...rectangle.map(p => p[0]))) return false;
  if (position[1] < Math.min(...rectangle.map(p => p[1]))) return false;
  if (position[1] > Math.max(...rectangle.map(p => p[1]))) return false;
  return true;
}

function dimensions_to_stage(micrograph) {
  return micrograph.dimensions.map(
    dim => dim * micrograph.pixel_size / 10000
  )
}

function path_from_corners(x) {
       return 'M ' + x[0][0] + ' ' + x[0][1] + ' L ' + x[1][0] + ' ' + x[1][1] + ' L ' + x[2][0] + ' ' + x[2][1] + ' L ' + x[3][0] + ' ' + x[3][1] +' z';
}


export default {
  components: {
    DatabaseLoadError,
    NotificationCard,
    SquareNavigator,
    PaintableImage
  },

  data: function() {
    return {
      file_server_url: `${store.state.host}/files/`
    };
  },
  computed: {
    nav() {
      return store.state.navigator;
    },
    valid_session() {
      return store.state.session.valid;
    },
    session_hash() {
      return store.state.session.hash;
    },
    names_loaded() {
      return store.state.squares.sorted_names != null
    },
    square_index() {
      if (!this.names_loaded) return null;
      var index = store.state.squares.sorted_names.findIndex(n => n === this.square_name);
      return (index === -1) ? null : index;
    },
    square_name() {
      if (this.$route.name == "squareLatest")
        return store.state.squares.latest;
      return this.$route.params.name;
    },
    square() {
      var loaded = this.square_name in store.state.data.map;
      return loaded ? store.state.data.map[this.square_name] : null;
    },
    image_url() {
      if (this.square.preview == null) return null;
      var path_array = this.square.preview.split("/");
      var image_path = path_array.slice(-2).join("/");
      return this.file_server_url + image_path;
    },
    map_width() {
    if (this.square.dimensions == null) return null;
      return this.square.dimensions[0];
    },
    map_height() {
    if (this.square.dimensions == null) return null;
      return this.square.dimensions[1];
    },
    square_center() {
      return [
        this.square.position[0] ,
        this.square.position[1] 
      ]
    },
    micrographs() {
      var that = this;
      return Object.values(store.state.data.acquisition).filter(
        function(acquisition) {
          return is_within_rectangle([acquisition.stage_x,acquisition.stage_y],that.square.corners);
        }
      );
    },
    micrograph_information() {
      var that = this;
      return this.micrographs.map(
        function(micrograph) {
          var dim = dimensions_to_stage(micrograph);
           
          var x = -micrograph.image_shift_x;
          var y = micrograph.image_shift_y;

          var corners = [[x-dim[0]/2,y-dim[1]/2],
                         [x-dim[0]/2,y+dim[1]/2],
                         [x+dim[0]/2,y+dim[1]/2],
                         [x+dim[0]/2,y-dim[1]/2]];
          var angle_radians = 210 * Math.PI / 180;
          var corners_rotated = corners.map(
            point => [
              point[0]  * Math.cos(angle_radians) - point[1] * Math.sin(angle_radians) + micrograph.stage_x,
              point[0]  * Math.sin(angle_radians) + point[1] * Math.cos(angle_radians) + micrograph.stage_y
            ]
          );
          
          var corners_image = corners_rotated.map (
                point => 
                  calc_image_coordinates(point,that.square.scale_matrix,that.square_center,[that.map_width/2,that.map_height/2])
              );
          var rejected =  store.state.data.user[micrograph.base_name] && store.state.data.user[micrograph.base_name].excluded;
          return { path: path_from_corners(corners_image), 
            name: micrograph.base_name, 
            active: store.state.micrographs.route && micrograph.base_name ===  store.state.micrographs.route.params.name,
            hover: false,
            rejected: rejected
          }
        }
      )
    },
  },
  beforeRouteUpdate(to, from, next) {
    store.cache_square_route(to);
    next();
  },
  beforeRouteEnter(to, from, next) {
    store.cache_square_route(to);
    if (to.name === 'squareMicrograph') {
      if (!store.state.navigator.squares) {
        next();
        return;
      }
      var square_with_micrograph = store.state.navigator.squares.find(
        function(square) {
          var micrograph = store.state.data.acquisition[store.state.micrographs.route.params.name];
          
          if(!micrograph) {
            return false;
          }
          return is_within_rectangle([micrograph.stage_x,micrograph.stage_y], store.state.data.map[square].corners)
        }
      )
      if (square_with_micrograph) {
        next('/session/'+to.params.hash+'/square/'+square_with_micrograph);
      } else 
      {
        next('/session/'+to.params.hash+'/square/latest');
      }

    } else next();

  }
};
</script>

<style scoped>
path.micrograph {
  stroke-width: 0.1%;
  stroke: yellow;
  fill: none;
}
path.micrograph:hover {
  stroke-width: 0.3%;
}
path.micrograph.active {
  stroke: red;
}
path.micrograph.rejected {
  fill: red;
  fill-opacity: 0.5;
}
</style>
