<template>
  <v-container fluid>
    <v-row dense>
      <v-col v-if="!valid_session || session_data == null" cols="12">
        <database-load-error :db_hash="session_hash"></database-load-error>
      </v-col>

      <template v-else>
        <v-col cols="12" md="6">
          <session-information height="100%"></session-information>
        </v-col>

        <v-col cols="12" md="6">
          <statistics-summary height="100%"></statistics-summary>
        </v-col>

        <v-col cols="6" lg=4 v-for="data in plotData" :key="data.title">
          <statistics-time-plot :data="data" />
        </v-col>
      </template>
    </v-row>
  </v-container>
</template>

<script>
import * as d3 from "d3";
import DatabaseLoadError from "@/components/DatabaseLoadError.vue";
import SessionInformation from "@/components/SessionInformation.vue";
import StatisticsSummary from "@/components/StatisticsSummary.vue";
import StatisticsTimePlot from "@/components/StatisticsTimePlot.vue";
import { store } from "@/store";

export default {
  components: {
    DatabaseLoadError,
    SessionInformation,
    StatisticsSummary,
    StatisticsTimePlot
  },
  computed: {
    valid_session() {
      return store.state.session.valid;
    },
    session_hash() {
      return store.state.session.hash;
    },
    session_data() {
      return store.state.session.data;
    },
    time_data() {
      var times = Object.values(store.state.data.acquisition).map(d => d.time);
      times = times.map(t => t * 1000);
      times = times.map(t => d3.timeFormat("%Y-%m-%d %H:%M:%S")(t));
      return times;
    },
    plotData() {
      return [
        this.doseRateData,
        this.initialShiftData,
        this.totalDistanceTraveledData,
        this.defocusData,
        this.astigmatismData,
        this.astigmatismAngleData,
        this.estimatedResolutionData,
        this.crossCorrelationData
      ]
    },
    defocusData() {
      var getter = d => d.defocus * 0.0001;
      var data = this.prepareData(store.state.data.ctf, getter);
      data.title = "Defocus";
      data.ylabel = "μm";
      return data;
    },
    doseRateData() {
      var getter = d => d.total_dose / d.exposure_time
      var data = this.prepareData(store.state.data.acquisition, getter);
      data.title="Dose rate";
      data.ylabel="e/Å^2/s"
      return data;
    },
    initialShiftData() {
      var getter = d => d.initial_distance
      var data = this.prepareData(store.state.data.motion, getter);
      data.title = "Early shift";
      data.ylabel = "pixels";
      return data;
    },
    totalDistanceTraveledData() {
      var getter = d => d.total_accumulated_distance;
      var data = this.prepareData(store.state.data.motion, getter);
      data.title = "Total distance traveled";
      data.ylabel = "pixels";
      return data;
    },
    astigmatismData() {
      var getter = d => d.astigmatism * 0.0001;
      var data = this.prepareData(store.state.data.ctf, getter);
      data.title = "Astigmatism";
      data.ylabel= "μm";
      return data;
    },
    astigmatismAngleData() {
      var getter = d => d.astigmatism_angle;
      var data = this.prepareData(store.state.data.ctf, getter);
      data.title = "Astigmatism angle";
      data.ylabel = "degree";
      return data;
    },
    estimatedResolutionData() {
      var getter = d => d.estimated_resolution;
      var data = this.prepareData(store.state.data.ctf, getter);
      data.title = "Estimated Resolution";
      data.ylabel = "Å";
      return data;
    },
    crossCorrelationData() {
      var getter = d => d.cross_correlation;
      var data = this.prepareData(store.state.data.ctf, getter);
      data.title = "Cross Correlation";
      data.ylabel = "Peak Score";
      return data;
    },
    estimatedBFactorData() {
      var getter = d => d.estimated_b_factor;
      var data = this.prepareData(store.state.data.ctf, getter);
      data.title = "Estimated B-Factor";
      data.ylabel = "";
      return data;
    },
  },

  methods: {
    prepareData(data_dict, getter) {
      var data = store.state.micrographs.sorted_names;
      data = data.filter(d => d in data_dict);
      var names = data.slice();
      var times = data.map(n => store.state.data.acquisition[n].time)
      times = times.map(t => t * 1000);
      times = times.map(t => d3.timeFormat("%Y-%m-%d %H:%M:%S")(t));
      var data = data.map(d => data_dict[d])
      var values = data.map(d => getter(d));
     
      return { names, values, times };
    },
  },
};
</script>
