<template>
  <v-app>
    <navigation-bar></navigation-bar>
    <v-content>
    <keep-alive>
      <router-view />
    </keep-alive>
    </v-content>
    <notification-bar></notification-bar>
  </v-app>
</template>

<script>
import NavigationBar from "@/components/NavigationBar.vue";
import NotificationBar from "@/components/NotificationBar.vue";
import { store } from "@/store.js"

export default {
  components: {
    NavigationBar,
    NotificationBar,
  },
  data() {
    return {
      state: store.state
    }
  }
};
</script>
