<template>
  <v-card tile>
    <v-card-title>CTF Plot</v-card-title>
    <v-card-text class="pa-0">
      <div v-show="ctf_data != null" id="radial_plot">
        <svg
          preserveAspectRation="xMinYMin mmet"
          viewBox="0 0 450 200"
          svg-content-responsive="true"
        >
          <g class="plotarea" :transform="'translate(' + margin.left + '.' + margin.top +')'">
            <g class="axis axis__x" :transform="'translate(0,'+plotheight+')'" />
            <g class="axis axis__y" />
            <path class="line ctf-curve--theoretical" :d="sim_line(sim_data)" />
            <path class="line ctf-curve--measured" :d="exp_line(exp_data)" />
          </g>
        </svg>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import * as d3 from "d3";
import bsb from "binary-search-bounds";

export default {
  props: {
    ctf_data: Object
  },
  data: function() {
    return {
      margin: {
        top: 10,
        right: 10,
        bottom: 40,
        left: 30
      },
      dimension: {
        width: 450,
        height: 200
      },
      res_limits: {
        low: 20,
        high: -1
      }
    };
  },
  computed: {
    plotwidth() {
      return this.dimension.width - this.margin.left - this.margin.right;
    },
    plotheight() {
      return this.dimension.height - this.margin.top - this.margin.bottom;
    },
    start_index() {
      var bisectFreq = d3.bisector(function(d) {
        return d;
      }).right;
      var startindex = bisectFreq(
        this.ctf_data.spatial_frequency_axis.slice().reverse(),
        this.res_limits.low
      );
      return this.ctf_data.spatial_frequency_axis.length - startindex;
    },
    freq_data() {
      if (!this.ctf_data) {
        return [];
      }
      return this.ctf_data.spatial_frequency_axis.slice(this.start_index);
    },
    sim_data() {
      if (!this.ctf_data) {
        return [];
      }
      return this.ctf_data.theoretical_ctf_curve.slice(this.start_index);
    },
    exp_data() {
      if (!this.ctf_data) {
        return [];
      }
      return this.ctf_data.measured_ctf_curve.slice(this.start_index);
    },
    x_scale() {
      var x = d3.scaleLinear().rangeRound([this.plotwidth, 0]);
      x.domain(d3.extent(this.freq_data));
      return x;
    },
    sim_scale() {
      var y = d3.scaleLinear().rangeRound([this.plotheight, 0]);
      y.domain(d3.extent(this.sim_data));
      return y;
    },
    meas_scale() {
      var y = d3.scaleLinear().rangeRound([this.plotheight, 0]);
      var maxima = this.exp_data.filter((v, i) => {return (i === 0 ) || v > this.exp_data[i-1] && v > this.exp_data[i+1]});
      var minima = this.exp_data.filter((v, i) => {return (i === 0 ) || v < this.exp_data[i-1] && v < this.exp_data[i+1]});
      var maximum = d3.max(maxima.slice(0,8));
      var minimum = d3.min(minima.slice(0,8));

      y.domain([minimum,maximum]);
      return y;
    },
    sim_line() {
      return d3
        .line()
        .x((d, i) => this.x_scale(this.freq_data[i]))
        .y((d, i) => this.sim_scale(this.sim_data[i]));
    },
    exp_line() {
      return d3
        .line()
        .x((d, i) => this.x_scale(this.freq_data[i]))
        .y((d, i) => this.meas_scale(this.exp_data[i]));
    }
  },
  watch: {
    x_scale() {
      d3.select(".axis__x").call(d3.axisBottom(this.x_scale));
    },
    sim_scale() {
      d3.select(".axis__y").call(d3.axisLeft(this.sim_scale).tickValues([]));
    }
  },
  methods: {
    zoomed() {
      var scale = d3.event.transform.k;
      var diff = 20 - this.ctf_data.spatial_frequency_axis[this.ctf_data.spatial_frequency_axis-1];
      var lowres = 20 / scale;
      lowres = d3.min([lowres,this.ctf_data.spatial_frequency_axis[1]]);
      lowres = d3.max([lowres,this.ctf_data.spatial_frequency_axis[this.ctf_data.spatial_frequency_axis-1]]);

      this.res_limits.low = lowres;
    }
  },
  mounted() {
    console.log(
      d3
        .select(this.$el)
        .select("svg")
        .call(this.zoom)
    );
  },
  created() {
    this.zoom = d3
      .zoom()
      //   // only scale up, e.g. between 1x and 50x
      .scaleExtent([0, 96])
      .wheelDelta(function() {
        return (-d3.event.deltaY * (d3.event.deltaMode ? 120 : 1)) / 5000;
      })
      .on("zoom", this.zoomed);
  },
  create_radial_ctf_plot: function(ctf_data) {
    svg
      .append("text")
      .attr("fill", "#fff")
      .attr("y", 0 + margin.top + height + margin.bottom / 2)
      .attr("x", 0 + margin.left + width / 2)
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Resolution [Å]");

    svg
      .append("text")
      .attr("fill", "#fff")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 + margin.left / 3)
      .attr("x", 0 - height / 2 - margin.top)
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Amplitude");
    // function zoomed() {
    //   var scale = d3.event.transform.k;
    //   var lowres = 1.5 + scale;
    //   that.lowres = scale;
    //   start_index_r = bsb.gt(
    //     ctf_data.ctf_resolution_a.slice(0).reverse(),
    //     lowres
    //   );
    //   start_index = ctf_data.ctf_resolution_a.length - start_index_r;

    //   fit_data = ctf_data.ctf_resolution_a.slice(start_index);
    //   sim_data = ctf_data.theoretical_ctf.slice(start_index);
    //   exp_data = ctf_data.measured_ctf.slice(start_index);

    //   x.domain(d3.extent(fit_data));
    //   y.domain(d3.extent(sim_data));
    //   back_y.domain(d3.extent(exp_data));
    //   g.selectAll("*").remove();
    //   g.append("g")
    //     .attr("class", "axis axis--x")
    //     .attr("transform", "translate(0," + height + ")")
    //     .call(d3.axisBottom(x));

    //   g.append("g")
    //     .attr("class", "axis axis--y")
    //     .call(d3.axisLeft(y))
    //     .append("text")
    //     .attr("fill", "#000")
    //     .attr("transform", "rotate(-90)")
    //     .attr("y", 6)
    //     .attr("dy", "0.71em")
    //     .style("text-anchor", "end")
    //     .text("");

    //   g.append("g")
    //     .attr("class", "axis axis--y")
    //     .call(d3.axisRight(back_y))
    //     .attr("transform", "translate(" + width + ",0)")
    //     .append("text")
    //     .attr("fill", "#001")
    //     .attr("transform", "rotate(-90)")
    //     .attr("y", 6)
    //     .attr("dy", "0.71em")
    //     .style("text-anchor", "end")
    //     .text("");
    //   g.append("path")
    //     .datum(fit_data)
    //     .attr("class", "line simctf")
    //     .attr("d", line);
    //   g.append("path")
    //     .datum(fit_data)
    //     .attr("class", "line")
    //     .attr("d", back_line);
    // }

    //

    //g.append("g")
    //  .attr("class", "axis axis--y")
    //  .call(d3.axisRight(back_y).ticks(5))
    //  .attr("transform", "translate(" + width + ",0)");
    // .append("text")
    // .attr("fill", "#001")
    // .attr("transform", "rotate(-90)")
    // .attr("y", 6)
    // .attr("dy", "0.71em")
    // .style("text-anchor", "end")
    // .text("");

    g.append("path")
      .datum(fit_data)
      .attr("class", "line ctf-curve--theoretical")
      .attr("d", line);

    g.append("path")
      .datum(fit_data)
      .attr("class", "line ctf-curve--measured")
      .attr("d", back_line);
    // zoom.scaleTo(svg, this.lowres);
    // }
  }
};
</script>

<style scoped>
svg {
  pointer-events: all;
}
#radial_plot >>> .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#radial_plot >>> .line.ctf-curve--theoretical {
  stroke-dasharray: 3, 3;
  stroke-width: 1px;
  stroke: red;
}
</style>