<template>
  <v-card tile>
    <img
      v-if="ctf_data != null && ctf_data.ctf_image_preview_file != null"
      contain
      position="center top"
      :src="image_url"
    />
  </v-card>
</template>

<script>
export default {
  props: {
    ctf_data: Object,
    file_server_url: String
  },
  computed: {
    image_url() {
      var path_array = this.ctf_data.ctf_image_preview_file.split("/");
      var image_path = path_array.slice(-2).join("/");
      return this.file_server_url + image_path;
    }
  }
};
</script>

<style scoped>
img {
  width:100%;
  height: auto;
}
</style>