<template>
  <notification-card :title="title" :text="text"/>
</template>

<script>
import NotificationCard from '@/components/NotificationCard.vue';

export default {
  components: {
    NotificationCard
  },
  props: {
    db_hash: String
  },
  data() {
    return {
      text: `
        If your network connectivity seems good and you've entered
        a hash/url that should work, you should contact your
        Hotspur/system administrator for assistence.
        `
    }
  },
  computed: {
    title() {
      return `Error loading database "${this.db_hash}"`;
    }
  }
}
</script>