<template>
  <v-card tile>
    <v-card-text class="py-0">
      <v-row class="justify-space-between ma-0">
        <v-switch :value="show" @change="update_show" label="Enable DogPicker" color="primary"></v-switch>
        <div class="mt-4 pt-1">
          <v-label>{{picks_to_draw.length}} Picks</v-label>
        </div>
      </v-row>
    </v-card-text>

    <v-card-text class="py-0">
      <v-slider
        label="Size"
        :value="size_index"
        @input="update_size"
        step="1"
        :min="possible_size_indices[0]"
        :max="possible_size_indices[1]"
        ticks
        :disabled="!show"
      >
        <template v-slot:append>
          <v-label>{{ size}}</v-label>
        </template>
      </v-slider>
    </v-card-text>

    <v-card-text class="py-0">
      <v-range-slider
        label="Thresholds"
        :value="[thresholds.min, thresholds.max]"
        @input="update_thresholds"
        :min="thresholds_minmax.min"
        :max="thresholds_minmax.max"
        :disabled="!show"
      >
        <template v-slot:append>
          <v-label>{{ thresholds.min}} - {{ thresholds.max}}</v-label>
        </template>
      </v-range-slider>
    </v-card-text>
    <v-card-text class="py-0">
      <v-range-slider
        label="Intensity"
        :value="[std_thresholds.min, std_thresholds.max]"
        @input="update_std_thresholds"
        :min="std_thresholds_minmax.min"
        :max="std_thresholds_minmax.max"
        :disabled="!show"
      >
        <template v-slot:append>
          <v-label>{{ std_thresholds.min}} - {{ std_thresholds.max}}</v-label>
        </template>
      </v-range-slider>
    </v-card-text>
  </v-card>
</template>

<script>
import { store } from "@/store.js";
import { json } from "d3";

export default {
  props: {
    micrograph_name: String,
    file_server_url: String
  },
  computed: {
    show() {
      return store.state.dogpicker.show;
    },
    size() {
      
      if (store.state.dogpicker.size && Object.keys(store.state.dogpicker.data).length > 0 && !(store.state.dogpicker.size in store.state.dogpicker.data)) {
        return Object.keys(store.state.dogpicker.data)[0];
      }
      if(!store.state.dogpicker.size) {
        return 0;
      }
      return store.state.dogpicker.size;

    },
    size_index() {
      return Object.keys(store.state.dogpicker.data).findIndex(
        x => x == store.state.dogpicker.size
      );
    },
    possible_size_indices() {
      if (Object.keys(store.state.dogpicker.data).length > 0) {
        return [0, Object.keys(store.state.dogpicker.data).length - 1];
      }
      return [0, 2];
    },
    thresholds() {
      if (!store.state.dogpicker.thresholds.min) {
        if (store.state.dogpicker.threshold_minmax.min === undefined) {
          return { min: 0.1, max: 0.9 };
        }
        var minmax = store.state.dogpicker.threshold_minmax;
        var diff = minmax.max - minmax.min;
        return { min: minmax.min + 0.1 * diff, max: minmax.min + 0.9 * diff };
      }
      return store.state.dogpicker.thresholds;
    },
    std_thresholds() {
      if (!store.state.dogpicker.std_thresholds.min) {
        if (store.state.dogpicker.std_threshold_minmax.min === undefined) {
          return { min: 0.1, max: 0.9 };
        }
        var minmax = store.state.dogpicker.std_threshold_minmax;
        var diff = minmax.max - minmax.min;
        return { min: minmax.min + 0.1 * diff, max: minmax.min + 0.9 * diff };
      }
      return store.state.dogpicker.std_thresholds;
    },
    thresholds_minmax() {
      if (store.state.dogpicker.threshold_minmax.min === undefined) {
        if (
          Object.keys(store.state.dogpicker.data).length < 1 ||
          this.size == 0
        ) {
          return { min: 0, max: 1.0 };
        }
        var min = Math.min(
          ...store.state.dogpicker.data[this.size].map(x => +x[1])
        );
        var max = Math.max(
          ...store.state.dogpicker.data[this.size].map(x => x[1])
        );
        store.state.dogpicker.threshold_minmax.min = min;
        store.state.dogpicker.threshold_minmax.max = max;

        return { min: min, max: max };
      }
      if (Object.keys(store.state.dogpicker.data).length > 0 && this.size > 0) {
        var min = Math.min(
          ...store.state.dogpicker.data[this.size].map(x => x[1])
        );
        var max = Math.max(
          ...store.state.dogpicker.data[this.size].map(x => x[1])
        );
        if (min < store.state.dogpicker.threshold_minmax.min) {
          store.state.dogpicker.threshold_minmax.min = min;
        }
        if (max > store.state.dogpicker.threshold_minmax.max) {
          store.state.dogpicker.threshold_minmax.max = max;
        }
      }
      return store.state.dogpicker.threshold_minmax;
    },
    std_thresholds_minmax() {
      if (store.state.dogpicker.std_threshold_minmax.min === undefined) {
        if (
          Object.keys(store.state.dogpicker.data).length < 1 ||
          this.size == 0
        ) {
          return { min: 0, max: 1.0 };
        }
        var min = Math.min(
          ...store.state.dogpicker.data[this.size].map(x => +x[2])
        );
        var max = Math.max(
          ...store.state.dogpicker.data[this.size].map(x => x[2])
        );
        store.state.dogpicker.std_threshold_minmax.min = min;
        store.state.dogpicker.std_threshold_minmax.max = max;

        return { min: min, max: max };
      }
      if (Object.keys(store.state.dogpicker.data).length > 0 && this.size > 0) {
        var min = Math.min(
          ...store.state.dogpicker.data[this.size].map(x => x[2])
        );
        var max = Math.max(
          ...store.state.dogpicker.data[this.size].map(x => x[2])
        );
        if (min < store.state.dogpicker.std_threshold_minmax.min) {
          store.state.dogpicker.std_threshold_minmax.min = min;
        }
        if (max > store.state.dogpicker.std_threshold_minmax.max) {
          store.state.dogpicker.std_threshold_minmax.max = max;
        }
      }
      return store.state.dogpicker.std_threshold_minmax;
    },
    dogpicker_data() {
      return store.state.data.dogpicker[this.micrograph_name];
    },
    dogpicker_url() {
      if (this.dogpicker_data && this.show) {
        var path_array = this.dogpicker_data.dogpicker_file.split("/");
        var image_path = path_array.slice(-2).join("/");
        return this.file_server_url + image_path;
      } else return null;
    },
    picks_to_draw() {
      if(!store.state.dogpicker.size) {return [];}
      if(!store.state.dogpicker.data || !store.state.dogpicker.data[store.state.dogpicker.size] ) {return [];}

      return store.state.dogpicker.data[store.state.dogpicker.size].filter(
        x => x[1] > store.state.dogpicker.thresholds.min && x[1] < store.state.dogpicker.thresholds.max
      ).filter(
        x => x[2] > store.state.dogpicker.std_thresholds.min && x[2] < store.state.dogpicker.std_thresholds.max
      );
    }
  },
  methods: {
    update_show(e) {
      store.state.dogpicker.show = e;
    },
    update_size(e) {
      if (Object.keys(store.state.dogpicker.data).length > 0) {
        store.state.dogpicker.size = Object.keys(store.state.dogpicker.data)[e];
      }
    },
    update_thresholds(e) {
      store.state.dogpicker.thresholds.min = e[0];
      store.state.dogpicker.thresholds.max = e[1];
    },
    update_std_thresholds(e) {
      store.state.dogpicker.std_thresholds.min = e[0];
      store.state.dogpicker.std_thresholds.max = e[1];
    }
  },
  watch: {
    picks_to_draw() {
      store.state.dogpicker.picks_to_draw = this.picks_to_draw;
    },
    dogpicker_url() {
      if (this.dogpicker_url) {
        json(this.dogpicker_url).then(function(data) {
          store.state.dogpicker.data = data;
        });
      }
    }
  }
};
</script>
