<template>
  <v-card tile>
    <v-card-actions>
      <v-btn @click="annotate()" block :color="annotation_color">{{ annotation_text }}</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { store } from "@/store.js";

export default {
  props: {
    micrograph_name: String,
    height: String
  },
  computed: {
    user_data() {
      return store.state.data.user[this.micrograph_name];
    },
    excluded() {
      if (this.user_data == null) {
        return null;
      }
      if (this.user_data.excluded == null) {
        return null;
      }
      return this.user_data.excluded;
    },
    annotation_text() {
      if (this.excluded) {
        return "ignored";
      } else {
        return "accepted";
      }
    },
    annotation_color() {
      if (this.excluded) {
        return "red";
      } else {
        return "green";
      }
    }
  },
  methods: {
    annotate() {
      var that = this;
      var new_value = !that.excluded;
      store.edit_user_data(this.micrograph_name, function(doc) {
        doc.excluded = new_value;
      })
    }
  }
};
</script>
