<template>
  <v-toolbar dense>
    <v-toolbar-items v-show="index != null">
      <v-btn :disabled="index === 0" @click="goToFirst()" text @shortkey="goToFirst()">first</v-btn>

      <v-btn
        :disabled="index === 0"
        icon
        @click="goToPrevious()"
        v-shortkey="active ? ['arrowleft'] : []"
        @shortkey="goToPrevious()"
      >
        <v-icon>arrow_left</v-icon>
      </v-btn>

      <v-row align="center" dense>
        <v-col>
          <p class="title mb-0">{{ userIndex }}</p>
        </v-col>
      </v-row>

      <v-btn
        :disabled="index === count - 1"
        icon
        @click="goToNext()"
        v-shortkey="active ? ['arrowright'] : []"
        @shortkey="goToNext()"
      >
        <v-icon>arrow_right</v-icon>
      </v-btn>

      <v-btn :disabled="latest" @click="goToLatest()" text @shortkey="goToLatest()">latest</v-btn>
    </v-toolbar-items>

    <v-spacer/>

    <v-toolbar-title>{{ count }} Micrographs</v-toolbar-title>
  </v-toolbar>
</template>

<script>
import { store } from "@/store.js";

export default {
  props: {
    index: Number
  },
  computed: {
    count() {
      return store.state.micrographs.count;
    },
    userIndex() {
      return this.index + 1
    },
    latest() {
      return this.$route.name === 'micrographLatest';
    },
    active() {
      return this.$route.name ==='micrograph' || this.$route.name ==='micrographLatest';
    }
  },
  methods: {
    goToIndex(index) {
      var name = store.state.micrographs.sorted_names[index];
      this.$router.push({
        name: 'micrograph',
        params: {
          hash: store.state.session.hash,
          name: name
        }
      })
    },
    goToNext() {
      if (this.index === this.count - 1) return;
      this.goToIndex(this.index + 1);
    },
    goToPrevious() {
      if (this.index === 0) return;
      this.goToIndex(this.index - 1);
    },
    goToFirst() {
      this.goToIndex(0);
    },
    goToLatest() {
      this.$router.push({ 
        name: 'micrographLatest',
        params: { hash: store.state.session.hash }
      });
    }
  }
};
</script>
