<template>
  <v-card tile>
    <paintable-Image 
    v-if="motion_data != null && motion_data.preview_file != null"
    :image_url="image_url" 
    :map_width="micrograph_width" 
    :map_height="micrograph_height" >
      <micrograph-dogpicker-painter :height="micrograph_height" />
      <scalebar-painter show :length=1000 :pixel_size="motion_data.pixel_size" />
    </paintable-Image>
            
  </v-card>
</template>

<script>
import PaintableImage from "@/components/PaintableImage.vue";
import MicrographDogpickerPainter from "@/components/MicrographDogpickerPainter.vue";
import ScalebarPainter from "@/components/ScalebarPainter.vue";

export default {
  components: {
    PaintableImage,
    MicrographDogpickerPainter,
    ScalebarPainter
  },
  props: {
    motion_data: Object,
    acquisition_data: Object,
    file_server_url: String
  },
  computed: {
    image_url() {
      var path_array = this.motion_data.preview_file.split("/");
      var image_path = path_array.slice(-2).join("/");
      return this.file_server_url + image_path;
    },
    micrograph_width() {
      return this.motion_data.dimensions[0];
    },
    micrograph_height() {
      return this.motion_data.dimensions[1];
    }
  }
};
</script>
