<template>
  <v-card tile>
    <v-card-title>Micrograph Info</v-card-title>
    <v-card-text>
      <v-simple-table dense>
        <template v-slot:default>
          <tbody>
            <tr v-for="row in rows" :key="row.label">
              <td>{{ row.label }}</td>
              <td>{{ row.callback() }} {{ row.unit }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card-text>
  </v-card>
</template>

<script>
import * as d3 from "d3";
import { store } from "@/store.js";

export default {
  props: {
    micrograph_name: String
  },
  computed: {
    acquisition_data() {
      return store.state.data.acquisition[this.micrograph_name];
    },
    motion_correction_data() {
      return store.state.data.motion[this.micrograph_name];
    },
    ctf_data() {
      return store.state.data.ctf[this.micrograph_name];
    },
    rows() {
      return [
        this.nameRow,
        this.pixelSizeRow,
        this.imageShiftRow,
        this.timeRow,
        this.framesRow,
        this.totalDoseRow,
        this.frameDoseRow,
        this.defocusRow,
        this.astigmatismRow,
        this.resolutionEstimateRow
      ];
    },
    nameRow() {
      return {
        label: "Name",
        callback: () => this.micrograph_name,
        unit: ""
      };
    },
    timeRow() {
      return {
        label: "Time",
        callback: () => {
          if (this.acquisition_data == null) return "?";
          var time = this.acquisition_data.time * 1000;
          return d3.timeFormat("%H:%M, %b %d")(time);
        },
        unit: ""
      };
    },
    pixelSizeRow() {
      return {
        label: "Pixel Size",
        callback: () => {
          if (this.acquisition_data == null || this.motion_correction_data == null) return "?";
          var movieps = d3.format(".3f")(this.acquisition_data.pixel_size);
          var mcps = d3.format(".3f")(this.motion_correction_data.pixel_size);
          return movieps + "Å/" +mcps+"Å";
        },
        unit: ""
      };
    },
    imageShiftRow() {
      return {
        label: "Image Shift",
        callback: () => {
          if (this.acquisition_data == null) return "?";
          var movieps = d3.format(".2f")(this.acquisition_data.image_shift_x);
          var mcps = d3.format(".2f")(this.acquisition_data.image_shift_y);
          return movieps + "µm," +mcps +"µm";
        },
        unit: ""
      };
    },
    framesRow() {
      return {
        label: "Frames",
        callback: () => {
          if (this.acquisition_data == null) return "?";
          return this.acquisition_data.frame_count;
        },
        unit: ""
      };
    },
    totalDoseRow() {
      return {
        label: "Total Dose",
        callback: () => {
          if (this.acquisition_data == null) return "?";
          return d3.format(".2f")(this.acquisition_data.total_dose);
        },
        unit: "e/Å^2"
      };
    },
    frameDoseRow() {
      return {
        label: "Frame Dose",
        callback: () => {
          if (this.acquisition_data == null) return "?";
          return d3.format(".2f")(this.acquisition_data.frame_dose);
        },
        unit: "e/Å^2"
      };
    },
    defocusRow() {
      return {
        label: "Defocus",
        callback: () => {
          if (this.ctf_data == null) return "?";
          return "-" + d3.format(".2f")(this.ctf_data.defocus / 10000);
        },
        unit: "µm"
      };
    },
    astigmatismRow() {
      return {
        label: "Astigmatism",
        callback: () => {
          if (this.ctf_data == null) return "?";
          return d3.format(".2f")(this.ctf_data.astigmatism / 10000);
        },
        unit: "µm"
      };
    },
    resolutionEstimateRow() {
      return {
        label: "Res. Estimate",
        callback: () => {
          if (this.ctf_data == null) return "?";
          return d3.format(".2f")(this.ctf_data.estimated_resolution);
        },
        unit: " Å"
      };
    }
  }
};
</script>
