<template>
  <g>
    <g v-if="show">
      <circle v-for="pick in picks_to_draw" 
            :cx="pick[0][1]" 
            :cy="height - pick[0][0]"
            :r = "size/2"
            class="pick" 
            />
    </g>

  </g>
</template>

<script>
import { store } from "@/store.js";

export default {
  props: {
    height: Number
  },
  computed: {
    show() {
      return store.state.dogpicker.show;
    },
    size() {
      return store.state.dogpicker.size;
    },
    picks_to_draw() {
      return store.state.dogpicker.picks_to_draw;
    }
  }
};
</script>

<style scoped>
circle.pick {
  stroke-width: 0.1%;
  stroke: yellow;
  fill: none;
}
</style>