<template>
	<v-card>
		<v-card-title>Where could the micrographs be?</v-card-title>
		<v-card-text>
			<p>
				It seems there are currently no micrographs here.
				We'll automatically load the latest micrograph when it arrives.
				Sit tight!
			</p>
			<v-progress-circular indeterminate></v-progress-circular>
		</v-card-text>
	</v-card>
</template>

<script>
import {store } from "../store.js";

export default {
	computed: {
		micrographs_available() {
			return store.state.micrographs.sorted_names.length >= 1;
		},
		session_hash() {
			return store.state.session.hash;
		}
	},
	watch: {
		micrographs_available() {
			this.$router.replace({
				name: 'micrograph',
				params: {
					hash: this.session_hash,
					index: 'latest'
				}
			})
		}
	}
};
</script>