<template>
  <v-card tile>
    <v-card-title>Motion (Å)</v-card-title>
    <v-card-text>
      <div v-show="motionData != null" id="motion-chart-container"></div>
    </v-card-text>
  </v-card>
</template>

<script>
import * as d3 from "d3";
// import { store } from "../store.js";

export default {
  props: {
    motionData: Object
  },
  // watch: {
  //   data: function () {
  //     this.create_line();
  //   }
  // },
  data: function() {
    return {
      margin: 10,
      fullWidth: 300,
      fullHeight: 300
      // zoom: d3.zoom().scaleExtent([0.1, 0]).on("zoom", this.onZoom),
      //   xAxisScale: d3.scaleLinear().range([this.width, 0]).domain([-20, 20]),
      //   yAxisScale: d3.scaleLinear().range([this.height, 0]).domain([-20, 20]),
      //   xAxisGenerator: d3.axisBottom(),
      //   yAxisGenerator: d3.axisLeft(),
    };
  },
  computed: {
    displacements() {
      if (this.motionData == null) return null;
      return this.motionData.displacement_list;
    },
    width() {
      return this.fullWidth - this.margin * 2;
    },
    height() {
      return this.fullHeight - this.margin * 2;
    }
  },
  watch: {
    displacements(val) {
      if (val == null) return;
      this.create_chart();
    }
  },
  // mounted: function() {
  //   this.create_chart();
  // },
  methods: {
    create_chart() {
      d3.selectAll(".motion-chart-svg").remove();

      var svg = d3
        .selectAll("#motion-chart-container")
        .append("svg")
        .attr("class", "motion-chart-svg")
        .attr("viewBox", `0 0 ${this.fullWidth} ${this.fullHeight}`);
      // .call(d3.zoom().on('zoom', this.onZoom))

      var chart = svg
        .append("g")
        .attr("class", "motion-chart")
        .attr("transform", `translate(${this.margin},${this.margin})`);

      this.xAxisScale = d3
        .scaleLinear()
        .range([0, this.width])
        .domain([-10, 10]);
      this.xAxisGenerator = d3.axisBottom(this.xAxisScale).ticks(5);
      chart
        .append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + this.height / 2 + ")")
        .call(this.xAxisGenerator);

      this.yAxisScale = d3
        .scaleLinear()
        .range([this.height, 0])
        .domain([-10, 10]);
      this.yAxisGenerator = d3.axisLeft(this.yAxisScale).ticks(5);
      chart
        .append("g")
        .attr("class", "axis axis--y")
        .attr("transform", "translate(" + this.width / 2 + ",0)")
        .call(this.yAxisGenerator);

      var line = d3
        .line()
        .x(d => this.xAxisScale(d[0]))
        .y(d => this.yAxisScale(d[1]));
      chart
        .append("path")
        .attr("class", "motion-curve")
        .attr("d", line(this.displacements))
        .attr("fill", "none")
        .attr("stroke", "steelblue")
        .attr("stroke-width", "1.5px");
    }
    // onZoom() {
    //   var tf = d3.event.transform

    //   var newScaleX = tf.rescaleX(this.xAxisScale)
    //   this.xAxisGenerator.scale(newScaleX)
    //   d3.select('.axis--x').call(this.xAxisGenerator)

    //   var newScaleY = tf.rescaleY(this.yAxisScale)
    //   this.yAxisGenerator.scale(newScaleY)
    //   d3.select('.axis--y').call(this.yAxisGenerator)

    //   d3.select('.motion-curve').attr('transform', tf)
    // }
  }
};
</script>
