<template>
  <v-app-bar app>
    <v-tabs >
      <v-tab to="/home"
        v-shortkey="['arrowup']"
        @shortkey="goToUp()"
      >Home</v-tab>
      <v-tab :to="project_path"
        v-shortkey="['arrowdown']"
        @shortkey="goToDown()"
      >Project</v-tab>
      <v-tab :to="stats_path">Statistics</v-tab>
      <v-tab :to="atlas_path">Atlas</v-tab>
      <v-tab :to="square_path">Squares</v-tab>
      <v-tab :to="micrograph_path">Micrographs</v-tab>
    </v-tabs>
  </v-app-bar>
</template>

<script>
import { store } from "@/store.js";

export default {
  methods: {
    goToUp() {
      if (this.$route.name === 'atlas') {
        this.$router.push(this.square_path);
        return
      }
      if (this.$route.name.includes('square')) {
        this.$router.push(this.micrograph_path);

      }
    },
    goToDown() {
      if (this.$route.name.includes('micrograph')) {
        this.$router.push(this.square_path);
        return
      }
      if (this.$route.name.includes('square')) {
        this.$router.push(this.atlas_path);
      }
    }
  },
  computed: {

    // Project 
    // ***********************************************

    project_hash() {
      return store.state.project.hash;
    },
    project_path() {
      if (this.project_hash == null) return { name: 'projectHelp' };
      return {
        name: 'project',
        params: { hash: this.project_hash }
      }
    },

    // Session
    // ***********************************************

    session_hash() {
      return store.state.session.hash;
    },

    // Statistics
    // ***********************************************

    stats_path() {
      if (this.session_hash == null) return { name: 'sessionHelp' };
      return {
        name: 'statistics',
        params: { hash: this.session_hash }
      }
    },

    // Atlas
    // ***********************************************

    atlas_path() {
      if (this.session_hash == null) return { name: 'atlasHelp' };
      return {
        name: 'atlas',
        params: { hash: this.session_hash }
      }
    },

    // Square
    // ***********************************************

    square_path() {
      if (this.session_hash == null) return { name: 'squareHelp' };
      var route = store.state.squares.route;
      if (route == null) {
        route = {
          name: 'squareLatest',
          params: { hash: this.session_hash }
        };
      }
      return route;
    },

    // Micrograph
    // ***********************************************

    micrograph_path() {
      if (this.session_hash == null) return { name: 'micrographHelp' };
      var route = store.state.micrographs.route;
      if (route == null) {
        route = {
          name: 'micrographLatest',
          params: { hash: this.session_hash }
        };
      }
      return route;
    },
 },
};
</script>
