<template>
  <v-snackbar :value="shown" color="cyan darken-2" bottom>
    {{ text }}
    <!-- <v-btn dark text @click="this.state.notification_visible = false">Close</v-btn> -->
  </v-snackbar>
</template>

<script>
import { store } from "../store.js";

export default {
  data: function() {
    return {
      state: store.state
    };
  },
  computed: {
    text() {
      return this.state.notification_text;
    },
    shown() {
      return this.state.notification_visible;
    }
  }
};
</script>