<template>
  <v-card tile>
    <v-card-title>{{ title }}</v-card-title>
    <v-card-text>
      <p>{{ text }}</p>
      <slot></slot>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    title: String,
    text: String
  }
};
</script>