<template>
  <v-card tile>
    <img :src="image_url" />
    <svg :width="map_width" :height="map_height" :viewBox="viewbox" preserveAspectRatio="none"><slot></slot></svg>
  </v-card>
</template>

<script>
export default {
  props: {
    map_width: Number,
    map_height: Number,
    image_url: String
  },
  computed: {
    viewbox() {
      return "0 0 " + this.map_width + " " + this.map_height
    }
  }
};
</script>

<style scoped>
img {
  width: 100%;
}
svg {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
</style>