<template>
  <g>
    <g v-if="show" :style="'transform: translateY(95%) translateX(96%) translateX(-' +(length/pixel_size) +  'px)'">
      <rect 
        height="0.5%"
        :width="length/pixel_size"
      />
      <text :x="length/(pixel_size*2)" y="2%" text-anchor="middle" font-size="2em">{{length/10}} nm</text>
    </g>

  </g>
</template>

<script>
import { store } from "@/store.js";

export default {
  props: {
    show: Boolean,
    length: Number,
    pixel_size: Number
  }
};
</script>

<style scoped>
rect {

  fill: white;
}

text {
  fill: white;
}
</style>