<template>
  <v-card tile :height="height">
    <v-card-title>Session Details</v-card-title>
    <v-card-text>
      <v-simple-table dense>
        <template v-slot:default>
        <tbody>
          <tr v-for="label in labels" :key="label.label">
            <td>{{ label.label }}</td>
            <td>{{ label.callback() }}</td>
          </tr>
        </tbody>
      </template>
      </v-simple-table>
    </v-card-text>
  </v-card>
</template>

<script>
import { store } from "@/store.js";
import * as d3 from "d3";

export default {
  props: {
    height: String
  },
  computed: {
    session_data() {
      return store.state.session.data;
    },
    labels: function() {
      return [
        {
          label: "Session",
          callback: () => {
            return this.session_data.name;
          }
        },
        {
          label: "Sample",
          callback: () => {
            return this.session_data.sample;
          }
        },
        {
          label: "Project",
          callback: () => {
            return this.session_data.project;
          }
        },
        {
          label: "Time",
          callback: () => {
            if (this.session_data.time == null) {
              return "";
            }
            var time = new Date(1000 * this.session_data.time);
            return d3.timeFormat("%B %d, %Y %I:%M %p")(time);
          }
        },
        {
          label: "Directory",
          callback: () => {
            return this.session_data.directory;
          }
        },
      ]
    },
  },
};
</script>
