<template>
  <v-toolbar dense align-center>
    <v-toolbar-items>
      <v-btn :disabled="index === 0" @click="goToFirst()" text @shortkey="goToFirst()">first</v-btn>

      <v-btn
        :disabled="index === 0"
        icon
        @click="goToPrevious()"
        v-shortkey="active ? ['arrowleft'] : []"
        @shortkey="goToPrevious()"
      >
        <v-icon>arrow_left</v-icon>
      </v-btn>

      <p class="title">{{ userIndex }}</p>

      <v-btn
        :disabled="index === count - 1"
        icon
        @click="goToNext()"
        v-shortkey="active ? ['arrowright'] : []"
        @shortkey="goToNext()"
      >
        <v-icon>arrow_right</v-icon>
      </v-btn>

      <v-btn :disabled="latest" @click="goToLatest()" text @shortkey="goToLatest()">latest</v-btn>
    </v-toolbar-items>

    <v-spacer/>

    <v-toolbar-title>{{ count }} Squares</v-toolbar-title>
  </v-toolbar>

</template>

<script>
import { store } from "@/store.js";

export default {
  props: {
    index: Number
  },
  computed: {
    count() {
      return store.state.squares.count;
    },
    userIndex() {
      return this.index + 1
    },
    latest() {
      return this.$route.name === 'squareLatest';
    },
    active() {
      return this.$route.name ==='square' || this.$route.name ==='squareLatest' || this.$route.name ==='squareMicrograph';
    }
  },
  methods: {
    goToIndex(index) {
      var name = store.state.squares.sorted_names[index];
      this.$router.push({
        name: 'square',
        params: {
          hash: store.state.session.hash,
          name: name
        }
      })
    },
    goToNext() {
      if (this.index === this.count - 1) return;
      this.goToIndex(this.index + 1);
    },
    goToPrevious() {
      if (this.index === 0) return;
      this.goToIndex(this.index - 1);
    },
    goToFirst() {
      this.goToIndex(0);
    },
    goToLatest() {
      this.$router.push({ 
        name: 'squareLatest',
        params: { hash: store.state.session.hash }
      });
    }
  }
};
</script>
