<template>
  <v-card tile height="height">
    <v-card-title>Statistics Summary</v-card-title>
    <v-card-text>
      <v-simple-table dense>
        <template v-slot:default>
        <thead>
          <tr>
            <td></td>
            <td>Average</td>
            <td>SD</td>
            <td>Unit</td>
            <td>Micrographs</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="r in rows" :key="r.label">
            <td>{{ r.label }}</td>
            <td>{{ r.average }}</td>
            <td>{{ r.deviation}}</td>
            <td>{{ r.unit }}</td>
            <td>{{ r.count}}</td>
          </tr>
        </tbody>
      </template>
      </v-simple-table>
    </v-card-text>
  </v-card>
</template>

<script>
import { store } from "@/store.js";
import * as d3 from "d3";

export default {
  props: {
    height: String
  },
  computed: {
    totalDoseRow() {
      var row = this.getSummary(store.state.data.acquisition, d => d.total_dose);
      row.label = "Total Dose";
      row.unit = "e-/Å^2";
      return row;
    },
    frameDoseRow() {
      var row = this.getSummary(store.state.data.acquisition, d => d.frame_dose);
      row.label = "Frame Dose";
      row.unit = "e-/Å^2";
      return row;
    },
    defocusRow() {
      var row = this.getSummary(store.state.data.ctf, d => d.defocus / 10000);
      row.label = "Defocus";
      row.unit = "μm";
      return row;
    },
    astigmatismRow() {
      var row = this.getSummary(store.state.data.ctf, d => d.astigmatism / 10000);
      row.label = "Astigmatism";
      row.unit = "μm";
      return row;
    },
    estimatedResolutionRow() {
      var row = this.getSummary(store.state.data.ctf, d => d.estimated_resolution);
      row.label = "Estimated Resolution";
      row.unit = "Å";
      return row;
    },
    rows() {
      return [
        this.totalDoseRow,
        this.frameDoseRow,
        this.defocusRow,
        this.astigmatismRow,
        this.estimatedResolutionRow,
      ];
    }
  },
  methods: {
    getSummary(data_dict, getter) {
      var points = this.getPoints(data_dict, getter);
      var count = points.length;
      if (count === 0) return { count, average: '?', deviation: '?' };
      var average = this.getAverage(points, count);
      var deviation = this.getDeviation(points, average, count);
      // var interval = this.getInterval(deviation, count)
      return {
        count,
        average: average.toPrecision(2),
        deviation: deviation.toPrecision(2),
        // interval: `${(average - 2 * deviation).toPrecision(2)} - ${(average + 2 * deviation).toPrecision(2)}`,
      }
    },
    getPoints(data_dict, getter) {
      return Object.keys(data_dict)
        .map( k => getter(data_dict[k]))
        .filter( i => i != null);
    },
    getAverage(points, count) {
      var sum = points.reduce((a,b) => a + b, 0);
        // var sum = points.reduce( (acc, cur) => acc + parseFloat(cur));
      return sum / count;
    },
    getDeviation(points, average, count) {
      var diffs = points.map( p => p - average);
      var squares = diffs.map( d => Math.pow(d, 2));
      var sum = squares.reduce((a,b) => a + b, 0);
      return sum / count;
    },
    getInterval(deviation, count) {
      var z = 1.645;
      return z * deviation / Math.sqrt(count)
    },
  }
};
</script>
