<template>
  <v-card tile>
    <v-row class="ma-0" justify="space-between">
      <v-card-title>{{ data.title }}</v-card-title>
      <v-card-actions v-if="data.title === selected_plot">
        {{selected_array.filter(Boolean).length}} Micrographs
        <v-btn @click="annotate(true)" color="red" class="ml-2">Ignore</v-btn>
        <v-btn @click="annotate(false)" color="green">Accept</v-btn>
      </v-card-actions>
      <v-card-actions v-if="x_transform || y_transform">
        <v-btn text icon @click="reset_zoom()">
          <v-icon>mdi-camera-control</v-icon>
        </v-btn>
      </v-card-actions>
    </v-row>
    <v-card-text>
      <div>
        <svg
          :id="data.title + '_chart'"
          preserveAspecRation="xMinYMin meet"
          :viewBox="'0 0 '+dimension.width + ' ' + dimension.height"
          svg-content-responsive="true"
        >
          <defs>
            <clipPath id="cut-off-plotarea">
              <rect :x="0" :y="0" :width="plot_width" :height="plot_height" />
            </clipPath>
          </defs>

          <g class="plotarea" :transform="'translate('+margin.left+','+margin.right+')'">
            <g class="axis axis--x" :transform="'translate(0,'+(plot_height)+')'" />
            <rect
              class="zoombox zoombox--x"
              :width="plot_width"
              :height="margin.bottom"
              :transform="'translate(0,'+(plot_height)+')'"
            />
            <g class="axis axis--y" />
            <text
              fill="currentColor"
              transform="rotate(-90)"
              dy="1.2em"
              text-anchor="end"
            >{{data.ylabel}}</text>
            <rect
              class="zoombox zoombox--y"
              :width="margin.left"
              :height="plot_height"
              :transform="'translate(-'+margin.left+',0)'"
            />

            <!-- <circle
            v-for="micrograph in data_zipped"
            :key="micrograph[2]"
            :r="micrograph[3]"
            :cx="micrograph[0]"
            :cy="micrograph[1]"
            class="gdot"
            :class="{unselected: !micrograph[4], rejected: micrograph[5]}"
            clip-path="url(#cut-off-plotarea)"
            @click="navigateTo(micrograph[2])"
            @mouseover="set_hover(micrograph[2])"
            @mouseleave="release_hover()"
            />-->
            <foreignObject x="0" y="0" :width="plot_width" :height="plot_height">
              <canvas :width="plot_width" :height="plot_height" />
            </foreignObject>
          </g>
          <g class="brusharea" :transform="'translate('+margin.left+','+margin.right+')'" />
        </svg>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import Vue from "vue";
import { store } from "@/store.js";
import * as d3 from "d3";

export default {
  props: {
    data: Object
  },
  data: function() {
    return {
      margin: {
        top: 10,
        left: 30,
        bottom: 20,
        right: 10
      },
      dimension: {
        height: 250,
        width: 500
      },
      y_transform: null,
      hovered: undefined
    };
  },
  computed: {
     active() {
      return this.$route.name ==='statistics' ;
    },
    x_parsed() {
      return this.data.times.map(d3.isoParse);
    },
    x_start_position() {
      if (this.x_transform) {
        return d3.bisectLeft(
          this.x_parsed,
          this.x_transform.rescaleX(this.x_scale).domain()[0]
        );
      } else {
        return 0;
      }
    },
    x_end_position() {
      if (this.x_transform) {
        return d3.bisectRight(
          this.x_parsed,
          this.x_transform.rescaleX(this.x_scale).domain()[1]
        );
      } else {
        return this.x_parsed.length - 1;
      }
    },
    x_filtered() {
      return this.x_parsed;
    },
    x_transformed() {
      var x_transformed = [];
      if (this.x_transform) {
        x_transformed = this.x_parsed.map(
          this.x_transform.rescaleX(this.x_scale)
        );
      } else {
        x_transformed = this.x_parsed.map(this.x_scale);
      }
      return x_transformed;
    },
    y_transformed() {
      var y_transformed = [];
      if (this.y_transform) {
        y_transformed = this.data.values.map(
          this.y_transform.rescaleY(this.y_scale)
        );
      } else {
        y_transformed = this.data.values.map(this.y_scale);
      }
      return y_transformed;
    },
    selected_array() {
      if (Object.keys(store.state.statistics.selected).length === 0) {
        return this.data.names.map(d => true);
      }
      return this.data.names.map(d => store.state.statistics.selected[d]);

    },
    user_data() {
      return this.data.names.map(d => store.state.data.user[d].excluded);
    },
    plot_width() {
      return this.dimension.width - this.margin.left - this.margin.right;
    },
    plot_height() {
      return this.dimension.height - this.margin.top - this.margin.bottom;
    },
    x_extend() {
      if (this.data.times.length < 1) {
        return [0, 0];
      }
      var extent = d3.extent(this.data.times, function(d) {
        return d3.isoParse(d);
      });
      var diff = extent[1] - extent[0];

      var returnval = [
        new Date(extent[0] - 0.05 * diff),
        new Date(extent[1].getTime() + 0.05 * diff)
      ];
      return returnval;
    },
    x_transform() {
      return store.state.statistics.x_transform;
    },
    y_extend() {
      if (this.data.values.length < 1) {
        return [0, 0];
      }
      var extent = d3.extent(this.data.values, function(d) {
        return d;
      });
      var diff = extent[1] - extent[0];
      return [extent[0] - 0.05 * diff, extent[1] + 0.05 * diff];
    },
    sizes() {
      return this.data.names.map(n => {
        return n === store.state.statistics.hover ? 12 : 9;
      });
    },
    selected_plot() {
      return store.state.statistics.selected_plot;
    }
  },
  watch: {
    data: {
      handler() {
        this.render_coordinates();
      }
    },
    selected_array() {
      this.render_coordinates();
    },
    user_data: {
      handler() {
        this.render_coordinates();
      }
    },
    x_extend() {
      this.x_scale.domain(this.x_extend);
      this.gx.call(this.x_axis);
    },
    x_transform() {
      if (this.x_transform) {
        this.gx.call(
          this.x_axis.scale(this.x_transform.rescaleX(this.x_scale))
        );
      } else {
        this.gx.call(this.x_axis.scale(this.x_scale));
      }
      this.render_coordinates();
    },
    y_transform() {
      this.render_coordinates();
    },
    hovered() {
      this.render_coordinates();
    },
    y_extend() {
      this.y_scale.domain(this.y_extend);
      this.gy.call(this.y_axis);
    }
  },
  created() {
    // Setup D3 toosl for X axis
    this.x_scale = d3
      .scaleTime()
      .range([0, this.plot_width])
      .domain([0, 1]);
    this.x_axis = d3.axisBottom(this.x_scale);
    this.x_zoom = d3
      .zoom()
      .scaleExtent([1, 50])
      .on("zoom", this.zoom_x);
    // Setup D3 toosl for Y axis
    this.y_scale = d3
      .scaleLinear()
      .range([this.plot_height, 0])
      .domain([0, 1]);
    this.y_axis = d3.axisLeft(this.y_scale);
    this.y_zoom = d3
      .zoom()
      .scaleExtent([1, 50])
      .on("zoom", this.zoom_y);
    this.brush = d3
      .brush()
      .extent([
        [0, 0],
        [this.plot_width, this.plot_height]
      ])
      .on("end", this.brushed);
  },
  mounted: function() {
    this.gx = d3.select(this.$el).select(".axis--x");
    this.g = d3.select(this.$el).select(".plotarea");
    this.gx.call(this.x_axis);
    d3.select(this.$el)
      .select(".zoombox--x")
      .call(this.x_zoom);

    this.gy = d3.select(this.$el).select(".axis--y");
    this.gy.call(this.y_axis);

    d3.select(this.$el)
      .select(".zoombox--y")
      .call(this.y_zoom);

    this.canvas = d3.select(this.$el).select("canvas");
    this.context = this.canvas.node().getContext("2d");
    this.brusharea = d3.select(this.$el).select(".brusharea");
    this.brusharea.on("click", () => {
      if (this.hovered === undefined) {
        event.stopPropagation();
      } else {
        this.navigateTo(this.data.names[this.hovered]);
      }
    });
    this.brusharea.on("mousemove", this.mousemove);
    this.brusharea.call(this.brush);
  },
  methods: {
    mousemove() {
      var mouseX = d3.mouse(this.brusharea.node())[0];
      var mouseY = d3.mouse(this.brusharea.node())[1];
      var col = this.context.getImageData(mouseX, mouseY, 1, 1).data;
      if (col[0] > 0) {
        var ins = d3.bisect(this.x_transformed, mouseX);
        var check_first = ins > 99 ? ins - 100 : 0;
        var check_last =
          this.x_transformed.length - ins > 100
            ? ins + 100
            : this.x_transformed.length - 1;
        var curr_ind;
        var min_distance = null;
        var min_distance_index = null;
        for (curr_ind = check_first; curr_ind <= check_last; curr_ind++) {
          if (!min_distance) {
            min_distance = Math.pow(
              Math.pow(this.x_transformed[curr_ind] - mouseX, 2) +
                Math.pow(this.y_transformed[curr_ind] - mouseY, 2),
              0.5
            );
            min_distance_index = curr_ind;
          } else {
            var d = Math.pow(
              Math.pow(this.x_transformed[curr_ind] - mouseX, 2) +
                Math.pow(this.y_transformed[curr_ind] - mouseY, 2),
              0.5
            );
            if (d < min_distance) {
              min_distance = d;
              min_distance_index = curr_ind;
            }
          }
        }
        this.hovered = min_distance_index;
        this.brusharea.select(".overlay").node().style.cursor = "pointer";
      } else {
        this.hovered = undefined;
        this.brusharea.select(".overlay").node().style.cursor = "crosshair";
      }
    },
    dot_color(unselected, excluded) {
      if (unselected) {
        if(excluded) {
          return "#550000";
        } else {
          return  "#555555"
        }
      } else {
        if(excluded) {
          return "#ff0000";
        } else {
          return  "#ffffff"
        }
      }
    },
    render_coordinates() {
      if(!this.active) {console.log("Skipping redraw"); return}
      this.x_scale.domain(this.x_extend);
      this.y_scale.domain(this.y_extend);
      this.context.clearRect(0, 0, this.plot_width, this.plot_height);
      this.x_transformed.forEach((d, i) => {
        this.context.fillStyle = this.dot_color(
          !this.selected_array[i],
          store.state.data.user[this.data.names[i]].excluded);
      
        this.context.beginPath();
        var r = i === this.hovered ? 6 : 3;
        this.context.arc(d, this.y_transformed[i], r, 0, 2 * Math.PI);
        this.context.fill();
      });
      //this.dots = this.dots.data(this.x_transformed);
      //this.dots = this.dots
      //  .enter()
      //  .append("circle")
      //  .attr("r", 2)
      //  .merge(this.dots)
      //  .attr("cx", d => d)
      //  .attr("cy", (d, i) => this.y_transformed[i])
      //  .attr("class", "gdot");
    },
    exclude(name, bool) {
      var user_data = store.state.data.user[name];
      if (user_data == null) {
        Vue.set(store.state.data.user, name, {});
        user_data = store.state.data.user[name];
      }
      if (user_data.exclusions == null) {
        Vue.set(store.state.data.user[name], "exclusions", {});
      }
      Vue.set(store.state.data.user[name].exclusions, this.title, bool);
    },
    zoom_x() {
      store.state.statistics.x_transform = d3.event.transform;
    },
    zoom_y() {
      this.gy.call(
        this.y_axis.scale(d3.event.transform.rescaleY(this.y_scale))
      );
      this.y_transform = d3.event.transform;
    },
    brushed() {
      if (d3.event.selection === null) {
        store.state.statistics.selected = [];
        store.state.statistics.selected_plot = null;
        return;
      }
      const [[x0, y0], [x1, y1]] = d3.event.selection;

      var micrograph_selected = this.x_transformed.map((d, i) => {
        return !(
          x0 > d ||
          x1 < d ||
          y0 > this.y_transformed[i] ||
          y1 < this.y_transformed[i]
        );
      });
      if (micrograph_selected.length < 1) {
        store.state.statistics.selected = {};
      } else {
        var result = {};
        this.data.names.forEach(
          (key, i) => (result[key] = micrograph_selected[i])
        );
        store.state.statistics.selected = result;
      }
      store.state.statistics.selected_plot = this.data.title;
    },
    navigateTo(micrograph) {
      this.$router.push({
        name: "micrograph",
        params: { name: micrograph }
      });
    },
    set_hover(micrograph) {
      store.state.statistics.hover = micrograph;
    },
    release_hover() {
      store.state.statistics.hover = null;
    },
    annotate(value) {
      this.data.names
        .filter((x, i) => store.state.statistics.selected[x])
        .forEach(micrograph => {
          store.edit_user_data(micrograph, function(doc) {
            doc.excluded = value;
          });
        });
    },
    reset_zoom() {
      this.y_transform = null;
      store.state.statistics.x_transform = null;
      this.gx.call(this.x_axis.scale(this.x_scale));
      this.gy.call(this.y_axis.scale(this.y_scale));
    }
  }
};
</script>

<style scoped>
canvas {
  width: 100%;
  height: auto;
}
.zoombox {
  pointer-events: all;
  fill: none;
}
.zoombox--x {
  cursor: col-resize;
}
.zoombox--y {
  cursor: row-resize;
}

.plotarea >>> .gdot {
  fill: #fff;
}

.gdot:hover {
  cursor: pointer;
}

.gdot.unselected {
  fill: #555;
}

.gdot.rejected {
  fill: #f00;
}

.gdot.rejected.unselected {
  fill: #500;
}
</style>

